.input {
    margin-left: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-bottom: 2em;
}

.title-form {
    margin-bottom: 2em;
}

.title-form > label, .rewards-type > label, .erc20-form > label {
    margin-right: 1em;
}


.erc20-form {
    margin: auto;
    margin-bottom: 1em;
}

.winner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 1px solid black;
    padding: 5px;
}

.winner-info {
    display: flex;
    flex-direction: column;
}

.winner-info > label, .winner-info > input {
    margin-bottom: 1em;
}

.connect-button {
    background: #3d94f6;
    background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
    background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
    background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
    background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
    background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 20px;
    -webkit-box-shadow: 1px 1px 5px 0 #000000;
    -moz-box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 1px 1px 5px 0 #000000;
    text-shadow: 1px 1px 5px #000000;
    border: solid #337fed 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  
  .connect-button:hover {
    border: solid #337fed 1px;
    background: #1e62d0;
    background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
    background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
    background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
    background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
    background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
  }
  .connect-button-container {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
  }

  .extra-button {
    margin-left: 1em;
  }